.gradient-bg.video {
    justify-content: flex-start;
}

.video-frame {
    display: none;
}

.video-frame.active {
    display: block;
}

.form-group .language {
    appearance: none;
    cursor: pointer;
    background-image: none;
}