.video-list {
    position: relative;
}

.video-list::after {
    content: '';
    height: 100%;
    width: 4px;
    background-color: #54595F;
    border-radius: 99px;
    position: absolute;
    bottom: 0;
    right: -15px;
}




@media (min-width: 992px) and (max-width: 1199px) {

    /* Video section */
    .video-list::after {
        right: -7px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}

@media (max-width: 575px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}