/* Header top */
.privacy-list li::after {
    content: "";
    position: absolute;
    top: 7px;
    right: -20px;
    width: 1px;
    height: 10px;
    background-color: #B5B5B5;
    opacity: 0.6;
}

.privacy-list li:not(:last-child) {
    margin-right: 35px;
}

.privacy-list li:last-child::after {
    content: none;
}

.login-box::after {
    content: "";
    display: inline-block;
    width: 1px;
    height: 10px;
    background-color: #B5B5B5;
    margin-top: 4px;
    margin-right: 20px;
    margin-left: 15px;
}

/* Header bottom */
.sticky-header {
    top: -100px;
    transition: top 0.7s ease-in-out, opacity 0.7s ease-in-out;
    z-index: 1000;
}

.header-visible {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
}

.group:hover .arrow-icon {
    transform: rotate(180deg)
}

.arrow-icon {
    transition: transform 0.3s ease-in-out;
}

.group .subnav-block {
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.4s ease, visibility 0.4s ease;
    z-index: 1000;
}

.group:hover .subnav-block {
    visibility: visible;
    opacity: 1;
}

ul.subnav {
    box-shadow: 0px 4px 15px rgba(1, 15, 28, 0.06);
}

ul.subnav li p {
    transform: translateX(-18px);
    transition: all ease 0.4s;
}

ul.subnav li:hover p {
    transform: translateX(0);
}

ul.subnav .icon-subnav {

    opacity: 0;
    transform: translateX(28px);
    transition: all ease 0.4s;
}

ul.subnav li:hover .icon-subnav {

    opacity: 1;
    transform: translateX(0);
    transition: transform 0.3s ease-in-out;
}


/* Menu */

.menu-wrap {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.menu-wrap.visible-custom {
    opacity: 1;
    transform: translateX(0);
}

.menu-body {
    max-height: calc(100vh - 200px);
}

ul.nav-menu>li span.active {
    color: #FF1D50;
}

ul.nav-menu>li>p {
    border-bottom: 1px solid #d1d5db;
}

ul.nav-menu>li:last-child>p {
    border-bottom: none;
}

ul.subnav-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

ul.subnav-menu.submenu-open {
    max-height: 500px
}

ul.subnav-menu.submenu-close {
    max-height: 0;
}

ul.subnav-menu>li {
    border-bottom: 1px solid #d1d5db;
}