/* Right side */
.latest-box>li {
  border-bottom: 1px solid #d1d5db;
}

.latest-box>li:first-child {
  padding-top: 0;
}

.latest-box>li:last-child {
  border-bottom: none;
  padding-bottom: 0;
}


@media (min-width: 1200px) {}

@media (min-width: 992px) and (max-width: 1199px) {

  /* News section */
  .latest-box>li:first-child {
    padding-top: 16px;
  }

  .latest-box>li:last-child {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 991px) {

  /* News section */
  .latest-box>li:first-child {
    padding-top: 16px;
  }

  .latest-box>li:last-child {
    display: none;
  }
}

@media (min-width: 576px) and (max-width: 767px) {

  /* News section */
  .latest-box>li:first-child {
    padding-top: 16px;
  }

  .latest-box>li:last-child {
    padding-bottom: 16px;
  }
}

@media (max-width: 575px) {

  /* News section */
  .latest-box>li:first-child {
    padding-top: 16px;
  }

  .latest-box>li:last-child {
    padding-bottom: 16px;
  }
}