.video-list {
    position: relative;
}

.video-list::-webkit-scrollbar {
    width: 6px;
}


.video-list::-webkit-scrollbar-thumb {
    background-color: #f1f1f1;
    border-radius: 10px;
}

.btn-play,
.btn-sound-wave {
    transition: all ease 0.4s;
}

.animate-fadeOutExpand {
    animation: fadeOutExpand infinite 4s ease-in-out;
}

@keyframes fadeOutExpand {
    0% {
        transform: scale(1);
        opacity: 1;
    }

    100% {
        transform: scale(2);
        opacity: 0;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {

    /* Video section */
    .video-list::after {
        right: -7px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}

@media (min-width: 576px) and (max-width: 767px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}

@media (max-width: 575px) {

    /* Video section */
    .video-list::after {
        height: 4px;
        width: 100%;
        right: 0;
    }
}