cite::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #FF1D50;
    position: absolute;
    bottom: 8px;
    left: -10px;
}

ul.blog-inner-list li:not(:last-child) {
    margin-bottom: 13px;
}

h2.has-line::after {
    content: '';
    height: 6px;
    width: 100%;
    flex: 1;
    border-top: 1px dashed #B5B5B5;
    border-bottom: 1px dashed #B5B5B5;
    margin-left: 24px;
}

.gradient-bg.blog {
    justify-content: flex-start;
}