cite::before {
    content: "";
    height: 2px;
    width: 40px;
    background-color: #FF1D50;
    position: absolute;
    bottom: 8px;
    left: -10px;
}

.form-group select {
    appearance: none;
    cursor: pointer;
}

.audio-item:hover .play-box {
    display: flex;
}