.menu-wrap {
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 0.9s ease-in-out, transform 0.9s ease-in-out;
}

.menu-wrap.visible-custom {
    opacity: 1;
    transform: translateX(0);
}

.menu-body {
    max-height: calc(100vh - 200px);
}

ul.nav-menu>li span.active {
    color: #FF1D50;
}

ul.nav-menu>li>p {
    border-bottom: 1px solid #d1d5db;
}

ul.nav-menu>li:last-child>p {
    border-bottom: none;
}

ul.subnav-menu {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
}

ul.subnav-menu.submenu-open {
    max-height: 500px
}

ul.subnav-menu.submenu-close {
    max-height: 0;
}

ul.subnav-menu>li {
    border-bottom: 1px solid #d1d5db;
}